:root {
    --color-body-light: hsl(0, 0%, 100%);
    --color-header-light: hsl(225, 100%, 98%);
    --color-card-light: hsl(227, 47%, 96%);
    --color-card-hover: hsl(228, 51%, 90%);
    --color-card-text: hsl(228, 12%, 44%);
    --color-card-number-text: hsl(230, 17%, 14%);
    --color-body-dark: hsl(230, 17%, 14%);
    --color-header-dark: hsl(232, 19%, 15%);
    --color-card-dark: hsl(228, 28%, 20%);
    --color-card-dark-hover: hsl(228, 21%, 28%);
    --color-card-dark-text: hsl(228, 34%, 66%);
    --color-card-dark-number-text: hsl(0, 0%, 100%);
    --color-fb: hsl(208, 92%, 53%);
    --color-twt: hsl(203, 89%, 53%);
    --color-orange-inst: hsl(37, 97%, 70%);
    --color-pink-inst: hsl(329, 70%, 58%);
    --color-yt: hsl(348, 97%, 39%);
    --color-up: hsl(163, 72%, 41%);
    --color-down: hsl(356, 69%, 56%);
    --color-toggle: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
    --color-toggle-light: hsl(230, 22%, 74%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background: var(--color-body-light);
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
}
/** Header **/
header {
    background: var(--color-header-light);
    height: 200px;
    padding: 20px;
}
header .head {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}
header .head .title {
    padding-bottom: 20px;
}
header .head .title h1 {
    color: var(--color-card-number-text);
}
header .head .title p, header .head .button span {
    color: var(--color-card-text);
    font-weight: 700;
}
header .head .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

/* Swtich */
header .head .button .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 15px;
    transform: rotate(180deg);
}

header .head .button .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

header .head .button .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-toggle-light);
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
header .head .button .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
  
header .head .button input:checked + .slider, header .head .button .slider:hover {
    background: var(--color-toggle);
}
  
header .head .button input:focus + .slider {
    box-shadow: 0 0 1px var(--color-toggle);
}
  
header .head .button input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/** Main **/
main {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-top: -80px;
}
/* Icons */
main .follows .cards .card .icon {
    margin-right: 10px;
}
main .cards .card .icon.icon-fb {
    content: url(../images/icon-facebook.svg);
}
main .cards .card .icon.icon-twt {
    content: url(../images/icon-twitter.svg);
}
main .cards .card .icon.icon-inst {
    content: url(../images/icon-instagram.svg);
}
main .cards .card .icon.icon-yt {
    content: url(../images/icon-youtube.svg);
}
main .cards .card .icon.icon-up {
    content: url(../images/icon-up.svg);
}
main .cards .card .icon.icon-down {
    content: url(../images/icon-down.svg);
}

/* Borders */
main .follows .cards .card.border-fb {
    border-top: 4px solid var(--color-fb);
}
main .follows .cards .card.border-twt {
    border-top: 4px solid var(--color-twt);
}
main .follows .cards .card.border-inst {
    border-image: linear-gradient(to right, var(--color-orange-inst), var(--color-pink-inst)) 100% 1;
    border-width: 4px;
    border-style: solid;
    border-bottom: 0;
}
main .follows .cards .card.border-yt {
    border-top: 4px solid var(--color-yt);
}

/* Follows */
main .follows {
    margin-bottom: 40px;
}
main .follows .cards, main .overview .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .follows .cards .card, main .overview .cards .card  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-card-light);
    color: var(--color-card-text);
    width: 220px;
    border-radius: 5px;
    margin: 0 auto 25px auto;
    padding: 20px;
}
main .follows .cards .card:hover, main .overview .cards .card:hover {
    background: var(--color-card-hover);
    cursor: pointer;
}
main .follows .cards .card {
    align-items: center;
    height: 200px;
}
main .follows .cards .card .user {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}
main .follows .cards .card .number {
    font-size: 60px;
    font-weight: 700;
    color: var(--color-card-number-text);
}
main .follows .cards .card .title {
    letter-spacing: 6px;
    margin-bottom: 20px;
}
main .follows .cards .card .resum, main .overview .cards .card .resum {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 12px;
}
main .follows .cards .card .resum.up, main .overview .cards .card .resum.up {
    color: var(--color-up);
}
main .follows .cards .card .resum.down, main .overview .cards .card .resum.down {
    color: var(--color-down);
}

/* Overview */
main .overview h2 {
    color: var(--color-card-text);
    font-weight: 700;
    margin: 0 0 20px 0;
    font-size: 2em;
}
main .overview .cards .card .number {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-card-number-text);
}
main .overview .cards .card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 10px;
}

main .overview .cards .card .numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .overview .cards .card .numbers .icon {
    margin: 0;
}
main .overview .cards .card .resum .icon {
    margin-right: 5px;
}

/** Atribuiton **/
.attribution {
    text-align: center;
    padding: 20px;
}

/** Dark Mode **/
body.dark {
    background: var(--color-body-dark);
}
.dark header {
    background: var(--color-header-dark);
}
.dark main .follows .cards .card, .dark main .overview .cards .card {
    background: var(--color-card-dark);
    color: var(--color-card-dark-text);
}
.dark main .follows .cards .card .number, .dark main .overview .cards .card .number,
.dark header .head .title h1, .dark .attribution {
    color: var(--color-card-dark-number-text);
}
.dark header .head .button:hover > span {
    color: var(--color-card-dark-number-text);
    cursor: pointer;
}
.dark header .head .button .slider:hover:before {
    background: var(--color-card-dark);
}
.dark main .follows .cards .card:hover, .dark main .overview .cards .card:hover {
    background: var(--color-card-dark-hover);
    cursor: pointer;
}

/** Medias Queries **/
@media (max-width: 450px) {
    header {
        height: initial;
        padding: 20px;
    }
    header .head {
        padding-top: initial;
    }
    header .head .title {
        border-bottom: 1px solid;
        width: 100%;
    }
    header .head .button {
        justify-content: space-between;
        width: 100%;
    }
    main .follows .cards, main .overview .cards {
        padding: 20px;
    }
    main .follows .cards .card, main .overview .cards .card {
        width: 100%;
    }
}
@media (max-width: 500px) {
    main {
        margin-top: 0;
    }
}